@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Pacifico');

body {
	background-image: url('img/bg.jpeg');
}

.board {
	width: 1200px;
	height: 900px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 44px;
	font-family: 'Pacifico';
	
}

.create-column {
	margin-left: 510px;
	padding: 15px;
	font-family: 'Lato';
	font-weight: 400;
	font-size: 22px;
	border: 0;
	color: #fff;
	border-radius: 5px;
	background-color: rgb(46, 204, 113);
}

.create-column:hover {
	background-color: rgb(39, 174, 96);
	cursor: pointer;
}

.column {
	display: inline-table;
	margin-right: 40px;
	margin-top: 60px;
	margin-left: 40px;
	border: 2px dotted green;
	width: 300px;
	height: 350px;
	background: rgba(255, 255, 255, 0.1);
}

.column-container {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 22px;
}

.column-title {
	text-align: center;
	font-family: 'Pacifico';
}

.column-card-list {
	list-style-type: none;
	display: inline-block;
	margin-left: 0;
}

.column .btn-delete {
	margin-left: 20%;
	padding: 10px 15px 10px 15px;
	font-size: 22px;
	background-color: rgb(236, 240, 241);
	border: 0;
	border-radius: 5px;
}

.column .btn-delete:hover {
	background-color: rgb(200, 200, 200);
	cursor: pointer;
}

.column .add-card {
	margin-left: 10px;
	padding: 10px;
	font-size: 22px;
	border: 0;
	color: #fff;
	border-radius: 5px;
	background-color: rgb(39, 174, 96);
}

.column .add-card:hover {
	background-color: rgb(20, 160, 80);
}

.card {
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;
}

.card .card-description {
	font-family: 'Lato';
	font-weight: 700;
	margin: -33px 0 30px 70px;
}

.card .btn-delete {
	margin-left: 5px;
}